<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lpiem.apprentisage"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light"
        android:name="com.lpiem.apprentisage.Apprentissage">
        <activity
            android:name="com.lpiem.apprentisage.ihm.CategorieActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.lpiem.apprentisage.ihm.SousCategorieActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.lpiem.apprentisage.ihm.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lpiem.apprentisage.ihm.AccueilActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.lpiem.apprentisage.ihm.CreerProfilActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.lpiem.apprentisage.ihm.ProfilActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.lpiem.apprentisage.ihm.RangerActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.lpiem.apprentisage.ihm.CompterActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.lpiem.apprentisage.ihm.LectureActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.lpiem.apprentisage.ihm.CalculActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.lpiem.apprentisage.ihm.ConjugaisonActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.lpiem.apprentisage.ihm.DicteeActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>